*.opensdf
*.sdf
*.suo
*.tlog
*.log
*.lastbuildstate
*.cache
*.exp
moc_*
*.manifest
*.ilk
*.res
GeneratedFiles
*.pdb
ipch
*.obj
*.user
*.pch
*.unsuccessfulbuild
*.tlh
*.tli
*.idb
*_manifest.rc
ButtonLib
*.lpc
*.lpx
*.sbr
*.bsc
*.bin
test.cpp
*.bmp
*.jpg
*.PNG
*.lsf
*.txt